@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.side-navbar {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
}
  
  .side-navbar .nav-link {
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
  }
  
  @media (min-width: 992px) {
    .side-navbar {
      position: fixed;
      width: 215px;
      height: 100%;
      background-color: rgb(1, 48, 1);
    }
  
    .side-navbar .nav-link {
      padding: 10px 20px;
    }

    .side-navbar .nav-link:hover {
        background-color: #09e46b;
        color: #fff;
    }
  
    .content-area {
      margin-left: 250px;
    }
  }
  